<h1 style="text-align: center; color:rgb(5, 21, 75); font-weight: 800;">Weather App</h1>
<div id="container" class="shadow-lg p-3 mb-5 bg-white rounded">
    <div *ngIf="weather.isDay" class="widget" style="margin-bottom: 10px;">
        <i class="fas fa-3x fa-sun sun"></i>
    </div>
    <div *ngIf="!weather.isDay" class="widget" style="margin-bottom:10px;">
        <i class="fas fa-3x fa-moon moon"></i>
    </div>
    <div class="widget cloudDiv">
<i class="fas fa-cloud fa-3x cloud"></i>
    </div>
    <div class="widget">
        <div class="col-sm-12 text-center">

            <div class="input-group mt-6" >
                <input class="form-control" type="text" #userInput placeholder="Enter City Name">
                <div class="input-group-append" >
                    <button class="input-group-text btn btn-outline-primary" style="margin:5px; color:white; background-color: blue;"
                        (click)="getCity(userInput.value)">Search</button>
                </div>
            </div>

            <h5>Today's Forecast...</h5>
            <h2>Weather in {{weather.name}},{{weather.sys.country}}</h2>
        </div>

        <div class="col-sm-12">
            <span style="font-size: large;">
                {{weather.main.temp | number:'1.0-0'}} &#176;F</span>
            <p class="text-uppercase" style="font-weight: 600;">{{weather.weather[0].description}}</p>
        </div>

        <table class="table table-light shadow-lg p-3 mb-5 bg-white rounded" style="border:rgb(19, 188, 255);">
            <tbody style="font-weight: 600;">
                <tr>
                    <td>Humidity:</td>
                    <td>{{weather.main.humidity}}%</td>
                </tr>
                <tr>
                    <td>Pressure:</td>
                    <td>{{weather.main.pressure}} hpa</td>
                </tr>
                <tr>
                    <td>Sunrise:</td>
                    <td>{{weather.sys.sunrise * 1000 |date:'H:mm'}}</td>
                </tr>
                <tr>
                    <td>Sunset:</td>
                    <td>{{weather.sys.sunset * 1000 | date:'H:mm'}}</td>
                </tr>
                <tr>
                    <td>Geolocation:</td>
                    <td>[{{weather.coord.lat}},{{weather.coord.lon}}] </td>
                </tr>
            </tbody>

        </table>
      <!-- <agm-map [latitude]="lat" [longitude]="lon"></agm-map> -->
    </div>
</div>